/**
 * 
 */
package ${package_model};

import java.io.Serializable;

/**
 * @author Colin
 */
public class __Model implements Serializable {

	/**
	 * 
	 */
	private static final long serialVersionUID = 1L;

	/**
	 * 
	 */
	public __Model() {
	}

}
