/**
 * 
 */
package ${package_api};

import java.util.List;
import java.util.Map;

import ${package_database}.IDAO;
import ${package_iapi}.__IAPI;
import ${package_ref}.DataGridModel;
import ${package_util}.MapUtil;

/**
 * @author Colin
 * @param <T>
 */
public abstract class __APIDefaultImpl<T> implements __IAPI<T> {

	/**
	 * 
	 */
	public __APIDefaultImpl() {
	}

	protected abstract IDAO<T> getDAO();

	public Object save(String sqlMapID, T model) {
		return this.getDAO().save(sqlMapID, model);
	}

	@Override
	public Object saveMulti(String sqlMapID, Object obj) {
		return this.getDAO().saveMulti(sqlMapID, obj);
	}

	public Integer saveReturnInt(String sqlMapID, T model) {
		return this.getDAO().saveReturnInt(sqlMapID, model);
	}

	public Long saveReturnLong(String sqlMapID, T model) {
		return this.getDAO().saveReturnLong(sqlMapID, model);
	}

	@Override
	public int update(String sqlMapID, Object obj) {
		return this.getDAO().update(sqlMapID, obj);
	}

	@Override
	public int delete(String sqlMapID, Object obj) {
		return this.getDAO().delete(sqlMapID, obj);
	}

	@Override
	public T getOne(String columns, String sqlMapID, Object obj) {
		Map<String, Object> map = MapUtil.mapThem(new String[] { "columns", "param" }, columns, obj);
		return this.getDAO().getOne(sqlMapID, map);
	}

	@Override
	public List<T> getList(String columns, String sqlMapID, Object obj) {
		Map<String, Object> map = MapUtil.mapThem(new String[] { "columns", "param" }, columns, obj);
		return this.getDAO().getList(sqlMapID, map);
	}
	
	@Override
	public List<T> getListByMap(String columns, String sqlMapID, Map<String, Object> map) {
		map.put("columns", columns);
		return this.getDAO().getList(sqlMapID, map);
	}

	@Override
	public Integer getCountInt(String sqlMapID, Object param) {
		return this.getDAO().getCountInt(sqlMapID, param);
	}

	@Override
	public Long getCountLong(String sqlMapID, Object param) {
		return this.getDAO().getCountLong(sqlMapID, param);
	}

	@Override
	public Map<String, Object> getPageListForUI(String columns, String sqlMapSelectID, String sqlMapCountID, DataGridModel dgm, T model) {
		return this.getDAO().getPageListForUI(columns, sqlMapSelectID, sqlMapCountID, dgm, model);
	}


}
