/**
 * 
 */
package ${package_api};

import java.util.List;
import java.util.Map;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import ${package_database}.IDAO;
import ${package_iapi}.I${bean}Service;
import ${package_model}.${bean}Model;
import ${package_ref}.DataGridModel;

/**
 * ${comment} <br />
 * Database table: ${table} <br />
 * @author Colin
 */
@Service
public class ${bean}ServiceImplement extends __APIDefaultImpl<${bean}Model> implements I${bean}Service {

	@Autowired
	private IDAO<${bean}Model> __${bean}DAO;

	/**
	 * 
	 */
	public ${bean}ServiceImplement() {
	}

	/*
	 * (non-Javadoc)
	 * @see com.defence.band.v2.logic.api.impl.__APIDefaultImpl
	 */
	@Override
	protected IDAO<${bean}Model> getDAO() {
		return __${bean}DAO;
	}

	@Override
	public Object save(${bean}Model model) {
		return this.save("${bean}Model.save", model);
	}

	@Override
	public Integer saveReturnInt(${bean}Model model) {
		return this.saveReturnInt("${bean}Model.saveReturnInt", model);
	}

	@Override
	public Long saveReturnLong(${bean}Model model) {
		return this.saveReturnLong("${bean}Model.saveReturnLong", model);
	}

	@Override
	public int update(Object obj) {
		return this.update("${bean}Model.update", obj);
	}

	@Override
	public int delete(Object obj) {
		return this.delete("${bean}Model.delete", obj);
	}

	@Override
	public ${bean}Model getOneByPK(String columns, Object obj) {
		return this.getOne(columns, "${bean}Model.getOneByPK", obj);
	}

	@Override
	public ${bean}Model getOne(String columns, Object obj) {
		return this.getOne(columns, "${bean}Model.getOne", obj);
	}

	@Override
	public List<${bean}Model> getList(Object obj) {
		return this.getList(${bean}Model.ALL, obj);
	}

	@Override
	public List<${bean}Model> getListByMap(String columns, Map<String, Object> map) {
		return this.getListByMap(columns, "${bean}Model.getList", map);
	}

	@Override
	public List<${bean}Model> getList(String columns, Object obj) {
		return this.getList(columns, "${bean}Model.getList", obj);
	}

	@Override
	public Integer getCountInt(Object param) {
		return this.getCountInt("${bean}Model.getCountInt", param);
	}

	@Override
	public Long getCountLong(Object param) {
		return this.getCountLong("${bean}Model.getCountLong", param);
	}

	@Override
	public Map<String, Object> getPageListForUI(DataGridModel dgm, ${bean}Model model) {
		return this.getPageListForUI("${bean}Model.getPageListForUI", "${bean}Model.getCountLongMap", dgm, model);
	}

	@Override
	public Map<String, Object> getPageListForUI(String sqlMapSelectID, String sqlMapCountID, DataGridModel dgm, ${bean}Model model) {
		return this.getPageListForUI(${bean}Model.ALL, sqlMapSelectID, sqlMapCountID, dgm, model);
	}

}
