.op-line {
	line-height: 150%;
	margin: 15px 0;
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}

.ml-10 {
	margin-left: 10px;
}

.mr-10 {
	margin-right: 10px;
}

.clr {
	clear: both;
}

.link-btn {
	border: 1px solid #ccc;
	background: #f3f3f3;
	color: black;
	text-decoration: none;
	padding: 4px 12px;
}

#wrap-box p {
	width: 80%;
	min-width: 1024px;
	line-height: 150%;
	margin: 4px auto;
	padding: 2px;
	font: 14px 微软雅黑, 宋体, Verdana, Arial, sans-serif;
	color: #666;
}